* {
    margin: 0;
    padding: 0;    
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    color: white;
}

h4 {
    font-weight: 600;
    font-size: 22px;
}

h5 {
    font-weight: 500;
    font-size: 20px;
    color: #5c5c5c;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 0px 0px 15px;
}

.header-bar {
    width: 100%;
    background-color: #17879B;
    height: 70px;
    padding-top: 30px;
    text-align: center;
}

.search-bar {
    width: 280px;
    height: 40px;
    margin: auto;
    display: flex;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2efef !important;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px 14px;
    font-size: 16px;
    background-color: #f2efef;
    text-align: left;
}

.search-bar input:focus {
    text-align: left; 
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 10px;
}

.content {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    line-height: 3;
}

.start button {
    margin: auto;
    display: flex;
    width: 80%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.start h4 {
    padding-right: 10px;
}

.profile {
    width: 70%;
    text-align: left;
    margin: auto;
    padding: 40px;
}

.profile h3 {
    color: #DB4444;
    font-weight: 600;
    padding: 8px 0px;
}

.profile button {
    margin: 30px 10px;
    float: right;
}

.save-button {
    background-color: #4BD4F0;
    color: white;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
}

.cancel-button {
    padding-top: 13px;
}

.profile-bar p {
    font-weight: 400;
    padding: 5px 0px;
}

.profile-bar input {
    width: 350px;
    height: 25px;
    margin-right: 120px;
    border: none;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2efef !important;
    border: none;
    outline: none;
    padding: 8px 14px;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
}

.address-bar p {
    font-weight: 400;
    padding: 5px 0px;
}

.address-bar input {
    padding: 5px 0px;
    width: 550px;
    height: 25px;
    /* margin-right: 100px; */
    border: none;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2efef !important;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
}

.profile-bar-group {
    display: flex;
    margin-bottom: 20px;
}

.view-button {
    background-color: #4BD4F0;
    color: white;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
    width: auto;
}

.blood-pressure {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin: 20px auto;
}

.blood-pressure h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.bp-check-group {
    margin-bottom: 20px;
}

.instruction p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.instruction-1 p {
    font-weight: 600;
}

.instruction-2 p {
    font-weight: 600;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    height: 20%;
}

.next-button {
    background-color: #4BD4F0;
    color: white;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
    width: 100%;
}
.blood-sugar {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin: 20px auto;
}

.blood-sugar h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.bsugar-check-group {
    margin-bottom: 20px;
}

.bsinstruction p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.bsinstruction-1 p {
    font-weight: 600;
}

.bsinstruction-2 p {
    font-weight: 600;
}

.bsinstruction-3 p {
    font-weight: 600;
}

.bsimage img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    padding-left: 130px;
}

.bsnext-button {
    background-color: #4BD4F0;
    color: white;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
    width: 100%;
}
.blood-oxygen {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin: 20px auto;
}

.blood-oxygen h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.boxy-check-group {
    margin-bottom: 20px;
}

.boxyinstruction p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.boxyinstruction-1 p {
    font-weight: 600;
}

.boxyinstruction-2 p {
    font-weight: 600;
}

.boxyimage img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    padding-left: 120px;
}

.boxynext-button {
    background-color: #4BD4F0;
    color: white;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
    width: 100%;
}
.blood-temp {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin: 20px auto;
}

.blood-temp h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.btemp-check-group {
    margin-bottom: 20px;
}

.btempinstruction p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.btempinstruction-1 p {
    font-weight: 600;
}

.btempinstruction-2 p {
    font-weight: 600;
}

.btempimage img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    padding-left: 180px;
}

.btempnext-button {
    background-color: #4BD4F0;
    color: white;
    border-radius: 3px;
    padding: 14px 30px;
    text-align: center;
    width: 100%;
}

.icon {
    display: flex;
}
.icon p {
    margin: 18px 10px;
} 
.icon img {
    padding: 10px 2px;
    width: 40px;
    height: 40px;
}